body {
	background-color: #F5F5DC;
	font-family: serif;

}
nav {
	color: green;
	font-size: 12;
	text-align: center;
}
.underline 	{
	color: green;
	text-align: center;
	text-decoration: underline;
}
.underline {
	color: blue;
	text-decoration: underline;
}
hr {
	clear: both;
}
p {
	color: blue;
	clear: both;
}
img {
	border: 1px solid black;
	padding: 5px;
}
.bold {
	font-size: 24px;
	font-weight: bold;
}
.center {
	text-align: center;
}
li {
	margin-top: 40px;
	list-style-type: none;
}
.right {
	float: right;
	height: 50px;
	width: 30%;

}
.main {
	width: 500px;
	height: 50px;
	float: left;
}