body {
	background-color: #F5F5DC;
	font-family: serif;

}
nav {
	color: green;
	font-size: 12;
	text-align: center;
}
h1 {
	color: green;
	text-align: center;
}
h2 {
	color: blue;
}
p {
	color: blue;
}
img {
	border: 1px solid black;
	padding: 5px;
}
li{
	font-weight: bolder;
}